<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Christopher Young :: $title$</title>

    <link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
  </head>
  <body>

    <div id="wrapper">

      <div id="header" role="navigation">

        <div id="banner-pic">
          <a href="/">
            <img src="/media/cy.jpeg"  alt="Christopher Young"
                 height="200px" />
          </a>
        </div><!--End banner-pic-->

        <div id="nav">

          <ul>
            <li><a href="/meta.html" >Meta</a></li>
            <li><a href="/etc.html" >Etc.</a> |</li>
            <li><a href="/prose.html">Prose</a> |</li>
            <li><a href="/code.html" >Code</a> |</Lie>

          </ul>

        </div>

      </div>

      <div id="content">
        <h1>$title$</h1>
        $body$
      </div>
      <div id="footer">
        Contact me at chris@chrisyoung.net.
      </div>
    </div>
  </body>
</html>
